@media only screen and (min-width: 400px) and (max-width: 600px) {
    .restaurant-rec {
        width: 80% !important;
    }
    h1.main-header {
        padding-top: 110px;
    }
    .restaurant-detail-rec {
        width: 100% !important;
    }
    .food-note .material-icons {
        top: -5px !important;
        width: 100%;
    }
}